:root,
[data-bs-theme=light] {
  --bs-blue: #49bcfc;
  --bs-indigo: #8c6fe6;
  --bs-purple: #7e6cab;
  --bs-pink: #e66fd2;
  --bs-red: #dc3545;
  --bs-orange: #f36522;
  --bs-green: #0bd984;
  --bs-teal: #01f0d0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #dadbe0;
  --bs-gray-100: #FCFCFC;
  --bs-gray-200: #f4f0fe;
  --bs-gray-300: #d9d9d9;
  --bs-gray-400: #dadbe0;
  --bs-gray-500: #cbc8d4;
  --bs-gray-600: #707070;
  --bs-gray-900: #070707;
  --bs-primary: #f36522;
  --bs-secondary: #dadbe0;
  --bs-success: #0bd984;
  --bs-info: #49bcfc;
  --bs-danger: #dc3545;
  --bs-light: #FCFCFC;
  --bs-dark: #072635;
  --bs-white: #fff;
  --bs-gray: #dadbe0;
  --bs-primary-rgb: 243, 101, 34;
  --bs-secondary-rgb: 218, 219, 224;
  --bs-success-rgb: 11, 217, 132;
  --bs-info-rgb: 73, 188, 252;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 252, 252, 252;
  --bs-dark-rgb: 7, 38, 53;
  --bs-white-rgb: 255, 255, 255;
  --bs-gray-rgb: 218, 219, 224;
  --bs-primary-text-emphasis: rgb(97.2, 40.4, 13.6);
  --bs-secondary-text-emphasis: rgb(87.2, 87.6, 89.6);
  --bs-success-text-emphasis: rgb(4.4, 86.8, 52.8);
  --bs-info-text-emphasis: rgb(29.2, 75.2, 100.8);
  --bs-warning-text-emphasis: rgb(102, 77.2, 2.8);
  --bs-danger-text-emphasis: rgb(88, 21.2, 27.6);
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: rgb(252.6, 224.2, 210.8);
  --bs-secondary-bg-subtle: rgb(247.6, 247.8, 248.8);
  --bs-success-bg-subtle: rgb(206.2, 247.4, 230.4);
  --bs-info-bg-subtle: rgb(218.6, 241.6, 254.4);
  --bs-warning-bg-subtle: rgb(255, 242.6, 205.4);
  --bs-danger-bg-subtle: rgb(248, 214.6, 217.8);
  --bs-light-bg-subtle: rgb(253.5, 253.5, 253.5);
  --bs-dark-bg-subtle: #dadbe0;
  --bs-primary-border-subtle: rgb(250.2, 193.4, 166.6);
  --bs-secondary-border-subtle: rgb(240.2, 240.6, 242.6);
  --bs-success-border-subtle: rgb(157.4, 239.8, 205.8);
  --bs-info-border-subtle: rgb(182.2, 228.2, 253.8);
  --bs-warning-border-subtle: rgb(255, 230.2, 155.8);
  --bs-danger-border-subtle: rgb(241, 174.2, 180.6);
  --bs-light-border-subtle: #f4f0fe;
  --bs-dark-border-subtle: #cbc8d4;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: "Lato", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #070707;
  --bs-body-color-rgb: 7, 7, 7;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(7, 7, 7, 0.75);
  --bs-secondary-color-rgb: 7, 7, 7;
  --bs-secondary-bg: #f4f0fe;
  --bs-secondary-bg-rgb: 244, 240, 254;
  --bs-tertiary-color: rgba(7, 7, 7, 0.5);
  --bs-tertiary-color-rgb: 7, 7, 7;
  --bs-tertiary-bg: #FCFCFC;
  --bs-tertiary-bg-rgb: 252, 252, 252;
  --bs-heading-color: inherit;
  --bs-link-color: #f36522;
  --bs-link-color-rgb: 243, 101, 34;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgb(194.4, 80.8, 27.2);
  --bs-link-hover-color-rgb: 194, 81, 27;
  --bs-code-color: #e66fd2;
  --bs-highlight-color: #070707;
  --bs-highlight-bg: rgb(255, 242.6, 205.4);
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d9d9d9;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(243, 101, 34, 0.25);
  --bs-form-valid-color: #0bd984;
  --bs-form-valid-border-color: #0bd984;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #d9d9d9;
  --bs-body-color-rgb: 217, 217, 217;
  --bs-body-bg: #070707;
  --bs-body-bg-rgb: 7, 7, 7;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(217, 217, 217, 0.75);
  --bs-secondary-color-rgb: 217, 217, 217;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(217, 217, 217, 0.5);
  --bs-tertiary-color-rgb: 217, 217, 217;
  --bs-tertiary-bg: rgb(29.5, 32.5, 35.5);
  --bs-tertiary-bg-rgb: 30, 33, 36;
  --bs-primary-text-emphasis: rgb(247.8, 162.6, 122.4);
  --bs-secondary-text-emphasis: rgb(232.8, 233.4, 236.4);
  --bs-success-text-emphasis: rgb(108.6, 232.2, 181.2);
  --bs-info-text-emphasis: rgb(145.8, 214.8, 253.2);
  --bs-warning-text-emphasis: rgb(255, 217.8, 106.2);
  --bs-danger-text-emphasis: rgb(234, 133.8, 143.4);
  --bs-light-text-emphasis: #FCFCFC;
  --bs-dark-text-emphasis: #d9d9d9;
  --bs-primary-bg-subtle: rgb(48.6, 20.2, 6.8);
  --bs-secondary-bg-subtle: rgb(43.6, 43.8, 44.8);
  --bs-success-bg-subtle: rgb(2.2, 43.4, 26.4);
  --bs-info-bg-subtle: rgb(14.6, 37.6, 50.4);
  --bs-warning-bg-subtle: rgb(51, 38.6, 1.4);
  --bs-danger-bg-subtle: rgb(44, 10.6, 13.8);
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: rgb(145.8, 60.6, 20.4);
  --bs-secondary-border-subtle: rgb(130.8, 131.4, 134.4);
  --bs-success-border-subtle: rgb(6.6, 130.2, 79.2);
  --bs-info-border-subtle: rgb(43.8, 112.8, 151.2);
  --bs-warning-border-subtle: rgb(153, 115.8, 4.2);
  --bs-danger-border-subtle: rgb(132, 31.8, 41.4);
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: rgb(247.8, 162.6, 122.4);
  --bs-link-hover-color: rgb(249.24, 181.08, 148.92);
  --bs-link-color-rgb: 248, 163, 122;
  --bs-link-hover-color-rgb: 249, 181, 149;
  --bs-code-color: rgb(240, 168.6, 228);
  --bs-highlight-color: #d9d9d9;
  --bs-highlight-bg: rgb(102, 77.2, 2.8);
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: rgb(108.6, 232.2, 181.2);
  --bs-form-valid-border-color: rgb(108.6, 232.2, 181.2);
  --bs-form-invalid-color: rgb(234, 133.8, 143.4);
  --bs-form-invalid-border-color: rgb(234, 133.8, 143.4);
}

ol.boxed-list, ol.circle__numberlist, .faq__holder ul, .faq__item__content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}

.font-large {
  font-size: 1.25rem !important;
}

.font-small {
  font-size: 0.875rem !important;
}

.font-body {
  font-size: 1rem !important;
}

.line-height-small {
  line-height: 1.25 !important;
}

.line-height-1 {
  line-height: 1 !important;
}

.rounded-0 {
  border-radius: 0 !important;
}

.rounded-xs {
  border-radius: 0.125rem !important;
}

.rounded-sm {
  border-radius: 0.25rem !important;
}

.rounded-md {
  border-radius: 0.5rem !important;
}

.rounded-20 {
  border-radius: 1.25rem !important;
}

.rounded-lg {
  border-radius: 0.625rem !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-bolder {
  font-weight: 900 !important;
}

.position-relative {
  position: relative !important;
}

.position-static {
  position: static !important;
}

@media (min-width: 576px) {
  .font-sm-large {
    font-size: 1.25rem !important;
  }
  .font-sm-small {
    font-size: 0.875rem !important;
  }
  .font-sm-body {
    font-size: 1rem !important;
  }
  .line-height-sm-small {
    line-height: 1.25 !important;
  }
  .line-height-sm-1 {
    line-height: 1 !important;
  }
  .rounded-sm-0 {
    border-radius: 0 !important;
  }
  .rounded-sm-xs {
    border-radius: 0.125rem !important;
  }
  .rounded-sm-sm {
    border-radius: 0.25rem !important;
  }
  .rounded-sm-md {
    border-radius: 0.5rem !important;
  }
  .rounded-sm-20 {
    border-radius: 1.25rem !important;
  }
  .rounded-sm-lg {
    border-radius: 0.625rem !important;
  }
  .rounded-sm-pill {
    border-radius: 50rem !important;
  }
  .font-weight-sm-normal {
    font-weight: normal !important;
  }
  .font-weight-sm-bold {
    font-weight: bold !important;
  }
  .font-weight-sm-bolder {
    font-weight: 900 !important;
  }
  .position-sm-relative {
    position: relative !important;
  }
  .position-sm-static {
    position: static !important;
  }
}
@media (min-width: 768px) {
  .font-md-large {
    font-size: 1.25rem !important;
  }
  .font-md-small {
    font-size: 0.875rem !important;
  }
  .font-md-body {
    font-size: 1rem !important;
  }
  .line-height-md-small {
    line-height: 1.25 !important;
  }
  .line-height-md-1 {
    line-height: 1 !important;
  }
  .rounded-md-0 {
    border-radius: 0 !important;
  }
  .rounded-md-xs {
    border-radius: 0.125rem !important;
  }
  .rounded-md-sm {
    border-radius: 0.25rem !important;
  }
  .rounded-md-md {
    border-radius: 0.5rem !important;
  }
  .rounded-md-20 {
    border-radius: 1.25rem !important;
  }
  .rounded-md-lg {
    border-radius: 0.625rem !important;
  }
  .rounded-md-pill {
    border-radius: 50rem !important;
  }
  .font-weight-md-normal {
    font-weight: normal !important;
  }
  .font-weight-md-bold {
    font-weight: bold !important;
  }
  .font-weight-md-bolder {
    font-weight: 900 !important;
  }
  .position-md-relative {
    position: relative !important;
  }
  .position-md-static {
    position: static !important;
  }
}
@media (min-width: 992px) {
  .font-lg-large {
    font-size: 1.25rem !important;
  }
  .font-lg-small {
    font-size: 0.875rem !important;
  }
  .font-lg-body {
    font-size: 1rem !important;
  }
  .line-height-lg-small {
    line-height: 1.25 !important;
  }
  .line-height-lg-1 {
    line-height: 1 !important;
  }
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
  .rounded-lg-xs {
    border-radius: 0.125rem !important;
  }
  .rounded-lg-sm {
    border-radius: 0.25rem !important;
  }
  .rounded-lg-md {
    border-radius: 0.5rem !important;
  }
  .rounded-lg-20 {
    border-radius: 1.25rem !important;
  }
  .rounded-lg-lg {
    border-radius: 0.625rem !important;
  }
  .rounded-lg-pill {
    border-radius: 50rem !important;
  }
  .font-weight-lg-normal {
    font-weight: normal !important;
  }
  .font-weight-lg-bold {
    font-weight: bold !important;
  }
  .font-weight-lg-bolder {
    font-weight: 900 !important;
  }
  .position-lg-relative {
    position: relative !important;
  }
  .position-lg-static {
    position: static !important;
  }
}
@media (min-width: 1200px) {
  .font-xl-large {
    font-size: 1.25rem !important;
  }
  .font-xl-small {
    font-size: 0.875rem !important;
  }
  .font-xl-body {
    font-size: 1rem !important;
  }
  .line-height-xl-small {
    line-height: 1.25 !important;
  }
  .line-height-xl-1 {
    line-height: 1 !important;
  }
  .rounded-xl-0 {
    border-radius: 0 !important;
  }
  .rounded-xl-xs {
    border-radius: 0.125rem !important;
  }
  .rounded-xl-sm {
    border-radius: 0.25rem !important;
  }
  .rounded-xl-md {
    border-radius: 0.5rem !important;
  }
  .rounded-xl-20 {
    border-radius: 1.25rem !important;
  }
  .rounded-xl-lg {
    border-radius: 0.625rem !important;
  }
  .rounded-xl-pill {
    border-radius: 50rem !important;
  }
  .font-weight-xl-normal {
    font-weight: normal !important;
  }
  .font-weight-xl-bold {
    font-weight: bold !important;
  }
  .font-weight-xl-bolder {
    font-weight: 900 !important;
  }
  .position-xl-relative {
    position: relative !important;
  }
  .position-xl-static {
    position: static !important;
  }
}
:root {
  --bs-body-font-size: 1.125rem;
}
@media (max-width: 767.98px) {
  :root {
    --bs-body-font-size: 1rem;
  }
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  h2,
  .h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  h5,
  .h5 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767.98px) {
  .btn {
    --bs-btn-font-size: 0.875rem;
    --bs-btn-padding-y: 0.5rem;
  }
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-focus-color: var(--bs-white);
}

.btn-info {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-focus-color: var(--bs-white);
}

.tel-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.tel-link:hover {
  text-decoration: underline;
}

.image-with-overlay {
  position: relative;
  overflow: hidden;
}
.image-with-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}
.image-with-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(243, 101, 34, 0.3);
  z-index: 1;
  pointer-events: none;
}
.image-with-overlay.bg-info:after {
  background-color: rgba(73, 188, 252, 0.3);
}
.image-with-overlay.image-bleed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
}
@media (max-width: 767.98px) {
  .image-with-overlay.image-bleed {
    position: relative;
    width: 100%;
    max-height: 15.625rem;
  }
}
.image-with-overlay.image-bleed.image-bleed--left {
  left: auto;
  right: 0;
}
@media (max-width: 767.98px) {
  .image-with-overlay.image-bleed.bleed-with-content {
    width: auto;
    position: absolute;
    top: 0;
    left: 0.75rem;
    right: 0.75rem;
  }
}
.image-with-overlay.overlay--blue:after {
  background-color: rgba(73, 188, 252, 0.54);
  mix-blend-mode: screen;
}
.image-with-overlay.overlay--orange:after {
  background-color: rgba(243, 101, 34, 0.55);
  mix-blend-mode: screen;
}
.image-with-overlay--small {
  height: 8.75rem;
}

.full-banner__section {
  min-height: 20.9375rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .full-banner__section {
    min-height: 12.5rem;
  }
}
.full-banner__section .image-with-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.full-banner__section .image-with-overlay:after {
  background-color: rgba(243, 101, 34, 0.4);
}
.full-banner__section.bg-info .image-with-overlay:after {
  background-color: rgba(73, 188, 252, 0.4);
}

.map-holder {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
}
@supports (aspect-ratio: 1/1) {
  .map-holder {
    aspect-ratio: 1/1;
    padding-bottom: 0;
    height: auto;
  }
}
.map-holder > * {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.map-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: top;
}

.card-type-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
}
.card-type-content .preview {
  height: 21.25rem;
  margin-bottom: -5.625rem;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .card-type-content .preview {
    height: 18.75rem;
  }
}
.card-type-content .content-with-icon {
  position: relative;
  padding: 3.125rem 1rem 1rem;
}
.card-type-content .content-with-icon:after {
  content: "";
  position: absolute;
  top: 1.125rem;
  left: 0.375rem;
  bottom: 0.1875rem;
  right: 0.375rem;
  background: url(/assets/images/img-map.svg) no-repeat;
  background-size: contain;
  pointer-events: none;
}
.card-type-content .content-with-icon .icon {
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  box-shadow: 0 0 0 0.1875rem #fff;
  border-radius: 100%;
  position: absolute;
  top: -2.5625rem;
  right: 0;
}
.card-type-content .content-with-icon .icon img {
  width: 100%;
  height: auto;
  display: block;
}

.vs-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13.125rem;
  height: 13.125rem;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .vs-divider {
    width: 8.75rem;
    height: 8.75rem;
  }
}
@media (max-width: 767.98px) {
  .vs-divider {
    width: 6.25rem;
    height: 6.25rem;
    padding: 1.25rem;
    top: auto;
    bottom: -3rem;
  }
}
@media (max-width: 575.98px) {
  .vs-divider {
    width: 5rem;
    height: 5rem;
    padding: 0.625rem;
  }
}
@media (max-width: 767.98px) {
  .vs-divider img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
}
.vs-divider:before {
  content: "";
  position: absolute;
  top: -0.8125rem;
  left: -0.8125rem;
  bottom: -0.8125rem;
  right: -0.8125rem;
  border: 0.25rem solid #fff;
  border-radius: 100%;
}
@media (max-width: 767.98px) {
  .vs-divider:before {
    top: -0.5rem;
    left: -0.5rem;
    bottom: -0.5rem;
    right: -0.5rem;
  }
}

.vs-block {
  position: relative;
  padding: 2.6875rem 3.75rem 1.25rem 1.25rem;
  height: 100%;
}
@media (max-width: 991.98px) {
  .vs-block {
    padding-right: 1.25rem;
  }
}
.vs-block.vs-block--alt {
  padding-left: 3.75rem;
  padding-right: 1.25rem;
}
@media (max-width: 991.98px) {
  .vs-block.vs-block--alt {
    padding-left: 1.25rem;
  }
}
.vs-block.vs-block--alt .vs-block__title {
  background: #49bcfc;
  border-radius: 0 3.125rem 3.125rem 0;
  left: 0;
  right: auto;
  text-align: right;
  justify-content: flex-end;
}
.vs-block.vs-block--alt .icon {
  margin-right: -0.1875rem;
  margin-left: 1.25rem;
  border-color: #49bcfc;
}
.vs-block .vs-block__title {
  position: absolute;
  top: 1.625rem;
  right: 0;
  background: #f36522;
  color: #fff;
  height: 4.375rem;
  width: 75%;
  padding: 0.625rem 2.5rem;
  display: flex;
  align-items: center;
  border-radius: 3.125rem 0 0 3.125rem;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .vs-block .vs-block__title {
    height: 3.75rem;
    padding: 0.5rem 1.875rem;
  }
}
.vs-block .icon {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FCFCFC;
  border: 0.1875rem solid #f36522;
  border-radius: 0.5rem;
  margin: -0.1875rem 1.25rem -0.1875rem -0.1875rem;
  padding: 0.375rem;
  flex-shrink: 0;
}
.vs-block .icon img {
  vertical-align: top;
}

.information-box {
  position: relative;
  border: 0.1875rem solid #fff;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem 0.3125rem 3.625rem;
  margin: 0 0 1.25rem 2.6875rem;
  min-height: 4.75rem;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .information-box {
    min-height: 3.75rem;
    margin-left: 2rem;
    padding-left: 2.125rem;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .information-box.flex-md-row-reverse {
    padding-left: 0.625rem;
    padding-right: 3.625rem;
    margin-right: 2.6875rem;
    margin-left: 0;
  }
  .information-box.flex-md-row-reverse .icon {
    right: -2.6875rem;
    left: auto;
  }
}
.information-box .icon {
  width: 5.375rem;
  height: 5.375rem;
  background: #fff;
  border: 0.1875rem solid #f36522;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  position: absolute;
  top: 0;
  left: -2.6875rem;
  bottom: 0;
  margin: auto;
  z-index: 1;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .information-box .icon {
    width: 3.75rem;
    height: 3.75rem;
    left: -2rem;
  }
}
.information-box .icon img {
  width: 100%;
  height: auto;
  display: block;
}

.talk-to-block {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .talk-to-block {
    height: auto;
  }
}
.talk-to-block .bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  mix-blend-mode: luminosity;
}
.talk-to-block .bg-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.talk-to-block .btn {
  min-width: 21.875rem;
}
@media (max-width: 767.98px) {
  .talk-to-block .btn {
    min-width: 12.5rem;
  }
}

.contact__section {
  background: url(../images/bg-cloud.jpg) no-repeat 0 100%;
  background-size: cover;
}
.about-section {
  min-height: 50vh;
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .about-section {
    height: auto;
  }
}
.about-section .image-with-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-section .image-with-overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  .big-question-mark {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767.98px) {
  .big-question-mark text {
    font-size: 21.875rem;
    transform: translateY(-5.875rem);
  }
}

.orange-question-section {
  position: relative;
  background-color: #f36522;
  color: #fff;
  padding: 1.875rem 0;
  min-height: 11.25rem;
  border-top: 0.5rem solid #f36522;
  position: relative;
  z-index: 1;
}
.orange-question-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.625rem;
  background: #fff;
}
.orange-question-section:after {
  content: "";
  background-image: url(../images/bg-question.jpg);
  background-size: 18%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.icon__with__circle {
  --icon-with-circle-size: 5.375rem;
  width: var(--icon-with-circle-size);
  height: var(--icon-with-circle-size);
  background: #fff;
  border: 0.1875rem solid #f36522;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem;
  overflow: hidden;
  flex-shrink: 0;
}
.icon__with__circle img {
  width: 100%;
  height: auto;
  display: block;
}

.pill__heading {
  background: #49bcfc;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: bold;
  border-radius: 50rem;
  width: 30rem;
  max-width: 100%;
  min-height: 4.875rem;
  padding: 0.1875rem 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .pill__heading {
    width: 100%;
    font-size: 1rem;
  }
}
.pill__heading--with-icon {
  padding-left: 6.125rem;
}
.pill__heading--with-icon .icon__with__circle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.pill__heading--with-icon .icon__with__circle img {
  width: 100%;
  height: auto;
  display: block;
}

.information-tree dd {
  padding: 1.125rem 0 3.125rem 2.75rem;
  position: relative;
  margin-bottom: 0;
}
.information-tree dd::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5rem;
  bottom: 0;
  width: 0.3125rem;
  background: #49bcfc;
}
.information-tree__item--last dd {
  padding-bottom: 0;
}
.information-tree__item--last .information-tree__info--first:after {
  content: "";
  position: absolute;
  top: calc(50% + 0.5625rem);
  left: -0.25rem;
  background: #fff;
  width: 0.3125rem;
  bottom: 0;
}
@media (max-width: 767.98px) {
  .information-tree__item--last .information-tree__info--first:after {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .information-tree__item--last .information-tree__info:not(.information-tree__info--first):after {
    content: "";
    position: absolute;
    top: calc(50% + 0.5625rem);
    left: -0.25rem;
    background: #fff;
    width: 0.3125rem;
    bottom: 0;
  }
}

.information-tree__info {
  position: relative;
  padding-left: 2.5rem;
}
@media (max-width: 767.98px) {
  .information-tree__info {
    margin-bottom: 1.25rem;
  }
}
.information-tree__info:before {
  content: "";
  position: absolute;
  top: 0.9375rem;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 2.5rem;
  height: 0.1875rem;
  background: #49bcfc;
}
.information-tree__info .item-title {
  padding: 0.3125rem 0.75rem;
  margin-bottom: -0.9375rem;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .information-tree__info .item-title {
    font-size: 1rem;
  }
}
.information-tree__info .item-desc-holder {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  flex-grow: 1;
}
.information-tree__info .item-desc-holder .item-desc {
  padding-top: 1.25rem;
}
.information-tree__info .item-desc-holder .item-desc p {
  margin-bottom: 0;
}
.information-tree__info .item-desc-holder .icon {
  margin-right: 1.25rem;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .information-tree__info .item-desc-holder .icon {
    width: 3.4375rem;
    margin-right: 0.625rem;
  }
}
.information-tree__info .item-desc-holder .icon img {
  max-width: 100%;
  height: auto;
  display: block;
}

.factors__section {
  --factors-article-max-width: 18.75rem;
  --factors-heading-height: 4.7625rem;
  --factors-icon-gap: 1.5625rem;
  --factors-icon-size: 5.5625rem;
  --factors-icon-space: calc(
    var(--factors-icon-gap) + var(--factors-icon-size)
  );
  --factors-image-width: 13.125rem;
  --factors-image-height: 9rem;
  --bs-gap: 9.25rem;
  --bs-columns: 3;
  --bs-row-gap: 2rem;
  position: relative;
}
@media (max-width: 991.98px) {
  .factors__section {
    --factors-image-width: 100%;
    --bs-gap: 4rem;
    --factors-heading-height: 3.4375rem;
    --factors-icon-size: 4.75rem;
  }
}
@media (max-width: 767.98px) {
  .factors__section {
    --bs-columns: 2;
  }
}
@media (max-width: 575.98px) {
  .factors__section {
    --factors-image-height: 11rem;
    --factors-heading-height: 3.125rem;
    --bs-columns: 1;
    max-width: var(--factors-article-max-width);
    margin: 0 auto;
  }
}
.factors__section > .grid {
  row-gap: var(--bs-row-gap);
}
.factors__section .connection__icon {
  --connection-icon-size: 1.875rem;
  width: var(--connection-icon-size);
  height: var(--connection-icon-size);
  border: 0.125rem solid #f36522;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(var(--factors-icon-space) + var(--factors-heading-height) / 2 - var(--connection-icon-size) / 2);
  right: calc(var(--bs-gap) / -2 - var(--connection-icon-size) / 2);
}
@media (max-width: 767.98px) {
  .factors__section .connection__icon {
    display: none;
  }
}
.factors__section .connection__icon:before, .factors__section .connection__icon:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  height: 0.1875rem;
  width: 6.25rem;
  margin: auto;
  background: #f36522;
}
.factors__section .connection__icon:after {
  right: 100%;
  left: auto;
}
.factors__section.factors__article--with-image .connection__icon {
  top: calc(var(--factors-icon-space) + var(--factors-heading-height) / 2 - var(--connection-icon-size) / 2 + var(--factors-image-height) - 15px);
}

.factors__article {
  padding-bottom: 1.5625rem;
}
@media (max-width: 767.98px) {
  .factors__article {
    padding-bottom: 0;
  }
}

.factors__image {
  width: var(--factors-image-width);
  height: var(--factors-image-height);
  margin: 0 auto -0.9375rem;
}

.factors__content {
  position: relative;
  padding-top: var(--factors-icon-space);
  z-index: 1;
}

.factors__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.25rem solid #49bcfc;
  border-radius: 100%;
  width: var(--factors-icon-size);
  height: var(--factors-icon-size);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f00;
}
.factors__icon > svg {
  fill: #f00 !important;
}
.factors__icon > svg path {
  fill: #f00 !important;
}

.factors__heading {
  height: var(--factors-heading-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3125rem 1rem;
  position: relative;
}
.factors__heading:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 0.25rem;
  height: 1.5625rem;
  margin: auto;
  background: #49bcfc;
}

.auto-factors__item {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
@media (max-width: 767.98px) {
  .auto-factors__item .pill__heading {
    width: 100%;
    margin-bottom: 0.9375rem;
  }
}
.auto-factors__col--middle {
  position: relative;
}
.auto-factors__col--middle:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  height: 0.25rem;
  background: #49bcfc;
  margin: auto;
  z-index: -1;
}
@media (max-width: 991.98px) {
  .auto-factors__col--middle:before {
    left: 0;
  }
}
@media (max-width: 767.98px) {
  .auto-factors__col--middle:before {
    width: 0.25rem;
    height: auto;
    left: 2.5625rem;
    right: auto;
  }
}
.auto-factors__description {
  --auto-factors-row-space: 2.75rem;
  background: #fff;
  padding: 0.75rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media (max-width: 991.98px) {
  .auto-factors__description {
    --auto-factors-row-space: 3.5rem;
  }
}
@media (max-width: 767.98px) {
  .auto-factors__description {
    min-height: 6.25rem;
    font-size: 1rem;
  }
}
.auto-factors__description:before {
  --auto-factors-icon-size: 1.75rem;
  --auto-factors-icon-border: 0.25rem;
  content: "";
  width: var(--auto-factors-icon-size);
  height: var(--auto-factors-icon-size);
  border: var(--auto-factors-icon-border) solid #49bcfc;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--auto-factors-row-space) / -2 - var(--auto-factors-icon-size) / 2 - var(--auto-factors-icon-border));
  margin: auto;
  background: #fff url("../images/icons/icon-dollar-blue.svg") no-repeat 50% 50%;
  background-size: 0.8125rem 1.3125rem;
}
@media (max-width: 767.98px) {
  .auto-factors__description:before {
    display: none;
  }
}
.auto-factors__description:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.auto-factors__description p {
  margin-bottom: 0;
}

.faq-section {
  background: url(/assets/images/bg-faq.svg) no-repeat center;
  background-size: 59.5rem 58rem;
  min-height: 70rem;
  position: relative;
}
@media (max-width: 991.98px) {
  .faq-section {
    background-size: 37.625rem 36.125rem;
    background-position: 50% 10%;
  }
}
@media (max-width: 767.98px) {
  .faq-section {
    background: none;
    padding-top: 0.9375rem;
    min-height: 0;
  }
}
.faq-section .question-figure {
  width: 22.8125rem;
  position: absolute;
  top: 5.625rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}
@media (max-width: 1199.98px) {
  .faq-section .question-figure {
    width: 18.75rem;
    top: 7.5rem;
  }
}
@media (max-width: 991.98px) {
  .faq-section .question-figure {
    width: 8.125rem;
    top: 5.625rem;
  }
}
@media (max-width: 767.98px) {
  .faq-section .question-figure {
    display: none;
  }
}

.faq__item {
  width: 16.875rem;
  position: absolute;
}
@media (max-width: 767.98px) {
  .faq__item {
    width: 95%;
    position: static;
    padding-bottom: 0.9375rem;
  }
}
.faq__item--1 {
  top: 12.5rem;
  left: 0;
}
.faq__item--2 {
  top: 29.375rem;
  left: 0;
}
.faq__item--2 .faq__item__header:after {
  width: 10.625rem;
}
.faq__item--3 {
  top: 0.625rem;
  right: 0;
}
.faq__item--3 .faq__item__header:after {
  width: 10.3125rem;
}
.faq__item--3 .faq__item__header:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -11.875rem;
  width: 0.1875rem;
  height: 5.625rem;
  background: #49bcfc;
}
@media (max-width: 991.98px) {
  .faq__item--3 .faq__item__header:before {
    display: none;
  }
}
.faq__item--4 {
  top: 21.25rem;
  right: 0;
}
.faq__item--4 .faq__item__header:after {
  width: 5.75rem;
}
.faq__item--5 {
  top: 52.5rem;
  right: 0;
}
.faq__item--5 .faq__item__header:after {
  width: 12rem;
}
@media (max-width: 1199.98px) {
  .faq__item--5 .faq__item__header:after {
    width: 8.75rem;
  }
}
.faq__item--5 .faq__item__header:before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -13.5625rem;
  width: 0.1875rem;
  height: 5.625rem;
  background: #49bcfc;
}
@media (max-width: 1199.98px) {
  .faq__item--5 .faq__item__header:before {
    left: -10.3125rem;
    height: 11.875rem;
  }
}
@media (max-width: 991.98px) {
  .faq__item--5 .faq__item__header:before {
    display: none;
  }
}
@media (min-width: 768px) {
  .faq__item.faq__item--rhs {
    width: 19.375rem;
  }
}
@media (min-width: 768px) {
  .faq__item.faq__item--rhs .faq__item__header {
    padding: 0.125rem 0.625rem 0.125rem 3.25rem;
  }
}
@media (min-width: 768px) {
  .faq__item.faq__item--rhs .faq__item__header:after {
    left: auto;
    right: 100%;
    margin: auto 1.5625rem auto 0;
  }
}
@media (min-width: 768px) {
  .faq__item.faq__item--rhs .faq__counter {
    right: auto;
    left: -1.75rem;
  }
}
@media (min-width: 768px) {
  .faq__item.faq__item--rhs .faq__item__content {
    padding-right: 1.25rem;
  }
}

.faq__item__header {
  min-height: 5rem;
  padding: 0.125rem 3.75rem 0.125rem 0.625rem;
  border: 0.1875rem solid #f36522;
  border-radius: 0.3125rem;
  position: relative;
  margin-bottom: 1.5625rem;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .faq__item__header {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
  }
}
.faq__item__header:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 5.625rem;
  height: 0.1875rem;
  margin: auto 0 auto 1.5625rem;
  background: #49bcfc;
}
@media (max-width: 991.98px) {
  .faq__item__header:after {
    display: none;
  }
}

.faq__counter {
  width: 3.625rem;
  height: 3.625rem;
  border: 0.1875rem solid #49bcfc;
  border-radius: 100%;
  background: #fff;
  color: #49bcfc;
  font-size: 3.4375rem;
  line-height: 1;
  font-family: "Inter", sans-serif;
  padding: 0.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -1.75rem;
}

.faq__item__content ul li {
  position: relative;
  padding-left: 0.9375rem;
  margin-bottom: 0.625rem;
}
.faq__item__content ul li:before {
  content: "";
  position: absolute;
  top: 0.6875rem;
  left: 0;
  width: 0.3125rem;
  height: 0.3125rem;
  background: currentColor;
  border-radius: 100%;
}

.faq__holder {
  min-height: 60.5rem;
  position: relative;
}
.faq__holder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(/assets/images/bg-faq-map.svg) no-repeat center;
  background-size: 66.5rem 60.5rem;
  opacity: 0.1;
  z-index: -1;
}
.faq__holder .graphic__list__content {
  background: none;
}
.faq__holder .graphic__list__content p:not(:last-child) {
  margin-bottom: 2.25rem;
}
.faq__holder ul li {
  position: relative;
  padding-left: 0.9375rem;
  margin-bottom: 0.625rem;
}
.faq__holder ul li:before {
  content: "";
  position: absolute;
  top: 0.6875rem;
  left: 0;
  width: 0.3125rem;
  height: 0.3125rem;
  background: currentColor;
  border-radius: 100%;
}

.graphic__list__item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 2.1875rem;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .graphic__list__item {
    flex-wrap: wrap;
  }
}
.graphic__list__item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50.6%;
  height: 0.25rem;
  background: #49bcfc;
  margin: auto;
  z-index: -1;
}
@media (max-width: 1199.98px) {
  .graphic__list__item:before {
    width: 51.8%;
  }
}
@media (max-width: 991.98px) {
  .graphic__list__item:before {
    width: 55%;
  }
}
@media (max-width: 767.98px) {
  .graphic__list__item:before {
    top: 2rem;
    width: 70%;
    right: auto;
    bottom: auto;
  }
}
.graphic__list__item.graphic__list__item--blue:before {
  background: #f36522;
}
.graphic__list__item.graphic__list__item--blue-alt:before {
  background: #dadbe0;
}
.graphic__list__item .pill__heading {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767.98px) {
  .graphic__list__item .icon__with__circle {
    --icon-with-circle-size: 4.25rem;
  }
}

.graphic__list__heading__counter {
  font-size: 2rem;
}

.graphic__list__title-holder {
  --icon-size: 1.75rem;
  --icon-border: 0.25rem;
  --graphic-list-row-space: 5rem;
  width: 42.4%;
  padding: 0 var(--graphic-list-row-space);
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 767.98px) {
  .graphic__list__title-holder {
    width: 70%;
    flex-grow: 1;
    padding-right: 0;
  }
}
@media (max-width: 575.98px) {
  .graphic__list__title-holder {
    --graphic-list-row-space: 3.125rem;
  }
}
.graphic__list__title-holder:before, .graphic__list__title-holder:after {
  content: "";
  width: var(--icon-size);
  height: var(--icon-size);
  border: var(--icon-border) solid #49bcfc;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--graphic-list-row-space) / 2 - var(--icon-size) / 2);
  margin: auto;
  background: #fff url("../images/icons/icon-dollar-blue.svg") no-repeat 50% 50%;
  background-size: 0.8125rem 1.3125rem;
}
.graphic__list__item--blue .graphic__list__title-holder:before, .graphic__list__item--blue .graphic__list__title-holder:after {
  background-image: url("../images/icons/icon-dollar.svg");
  border-color: #f36522;
}
.graphic__list__item--blue-alt .graphic__list__title-holder:before, .graphic__list__item--blue-alt .graphic__list__title-holder:after {
  background-image: url("../images/icons/icon-dollar-gray.svg");
  border-color: #dadbe0;
}
.graphic__list__title-holder:after {
  left: auto;
  right: calc(var(--graphic-list-row-space) / 2 - var(--icon-size) / 2);
}
@media (max-width: 767.98px) {
  .graphic__list__title-holder:after {
    display: none;
  }
}

.graphic__list__title {
  padding: 1rem;
  min-height: 5.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 767.98px) {
  .graphic__list__title {
    text-align: left;
    align-items: flex-start;
    min-height: 4.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.graphic__list__content {
  background: #fff;
  line-height: 1.2;
  min-height: 12.5rem;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  position: relative;
}
@media (max-width: 767.98px) {
  .graphic__list__content {
    text-align: left;
    margin-top: 0.625rem;
    min-height: 6.25rem;
  }
}
.graphic__list__content p {
  margin-bottom: 0;
}

.compare__block {
  padding: 0.625rem;
}
@media (max-width: 575.98px) {
  .compare__block {
    position: relative;
  }
}

.compare__holder {
  display: flex;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .compare__holder {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .compare__holder {
    display: block;
  }
}

.compare__preview {
  flex-shrink: 0;
  height: auto;
  width: 9.5rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .compare__preview {
    width: 100%;
    height: 12.5rem;
  }
}
@media (max-width: 575.98px) {
  .compare__preview {
    width: 100%;
    height: 12.5rem;
  }
}

.compare__content {
  padding: 0.625rem 1.25rem 0.625rem 7.25%;
  flex-grow: 1;
  text-align: right;
}
@media (max-width: 575.98px) {
  .compare__content {
    padding: 0.9375rem;
  }
}
@media (min-width: 768px) {
  .compare__block--alt .compare__content {
    padding-left: 1.25rem;
    padding-right: 7.25%;
    text-align: left;
  }
}

.compare__content__title {
  background: #f36522;
  color: #fff;
  height: 4.375rem;
  padding: 0.625rem 1.5625rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 3.125rem 0 0 3.125rem;
  margin-right: -2.125rem;
  margin-bottom: 0.625rem;
}
@media (max-width: 575.98px) {
  .compare__content__title {
    position: absolute;
    top: 1.25rem;
    right: 0;
    margin: 0;
    height: auto;
    min-height: 2.8125rem;
  }
}
@media (min-width: 768px) {
  .compare__block--alt .compare__content__title {
    border-radius: 0 3.125rem 3.125rem 0;
    margin-left: -2.125rem;
    margin-right: 0;
  }
}

.compare__content__description {
  padding-left: 1.875rem;
  font-size: 1.25rem;
}
@media (max-width: 575.98px) {
  .compare__content__description {
    font-size: 1rem;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .compare__block--alt .compare__content__description {
    padding-left: 0;
    padding-right: 1.875rem;
  }
}

.overlay__content {
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 16.875rem;
  padding: 1.25rem 0;
}

.circle__container {
  --circle-color: #dadbe0;
  --progress-color: #49bcfc;
  --progress-font: 3.4375rem;
  --progress-circle-size: 10rem;
  --progress-circle-border: 0.625rem;
  position: relative;
  width: var(--progress-circle-size);
  height: var(--progress-circle-size);
  border-radius: 100%;
  box-shadow: 0 0px 0 var(--progress-circle-border) var(--circle-color) inset;
}
@media (max-width: 767.98px) {
  .circle__container {
    --progress-font: 2.5rem;
    --progress-circle-size: 7.5rem;
    --progress-circle-border: 0.4375rem;
  }
}

.circle__progress {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(var(--progress-color) 0% var(--progress), transparent var(--progress) 100%);
  -webkit-mask-image: radial-gradient(circle, transparent 62%, black 38%);
  mask-image: radial-gradient(circle, transparent 62%, black 38%);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.circle__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: var(--progress-font);
  line-height: 1;
  font-weight: bold;
}

ol.circle__numberlist {
  counter-reset: circleNumberList;
}
ol.circle__numberlist > li {
  counter-increment: circleNumberList;
  position: relative;
  margin-bottom: 1.75rem;
  padding-left: 3.125rem;
}
@media (max-width: 767.98px) {
  ol.circle__numberlist > li {
    text-align: left;
  }
}
ol.circle__numberlist > li:before {
  content: counter(circleNumberList);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 1.75rem;
  height: 1.75rem;
  background: #fff;
  color: #dadbe0;
  line-height: 1;
  font-weight: bold;
  border: 0.1875rem solid #dadbe0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ol.boxed-list {
  --bs-gap: 3.625rem;
  --bs-columns: 3;
  --bs-row-gap: 2.25rem;
  --counter-size: 5.5625rem;
  --top-space: 5rem;
  counter-reset: boxedList;
  row-gap: var(--bs-row-gap);
}
@media (max-width: 991.98px) {
  ol.boxed-list {
    --bs-gap: 1.75rem;
    --counter-size: 4.6875rem;
    --top-space: 3.75rem;
  }
}
@media (max-width: 767.98px) {
  ol.boxed-list {
    --counter-size: 3.75rem;
    --top-space: 1.875rem;
  }
}
@media (max-width: 575.98px) {
  ol.boxed-list {
    --bs-columns: 2;
    --bs-gap: 1rem;
  }
}
ol.boxed-list > li {
  counter-increment: boxedList;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0.25rem solid #49bcfc;
  min-height: 4.75rem;
  margin-top: var(--top-space);
  padding: 0.625rem;
}
ol.boxed-list > li:before {
  content: counter(boxedList, decimal-leading-zero);
  background: #f36522;
  color: #fff;
  width: var(--counter-size);
  height: var(--counter-size);
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.25rem;
  line-height: 1;
  font-weight: bold;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin: 0 auto -0.625rem;
}
@media (max-width: 991.98px) {
  ol.boxed-list > li:before {
    font-size: 1.875rem;
  }
}
@media (max-width: 767.98px) {
  ol.boxed-list > li:before {
    font-size: 1.5625rem;
  }
}
ol.boxed-list > li:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0.25rem auto 0;
  right: 100%;
  width: var(--bs-gap);
  height: 0.25rem;
  background: #dadbe0;
}
ol.boxed-list > li:nth-child(3n+1):after {
  display: none;
}

.title-content-row {
  position: relative;
  margin-bottom: 1.75rem;
  z-index: 1;
}
.title-content-row:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  margin: auto;
  background: #fff;
  z-index: -1;
  height: 0.25rem;
}
@media (max-width: 767.98px) {
  .title-content-row:before {
    width: 0.25rem;
    height: 50%;
  }
}

.title-box {
  background: #49bcfc;
  color: #fff;
  min-height: 4.75rem;
  padding: 0.1875rem 0.8125rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1875rem solid currentColor;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.2;
  text-align: center;
}
.title-box--with-icon {
  background: #fff;
  color: #f36522;
  margin-left: 2.6875rem;
  padding-left: 58px;
  justify-content: flex-start;
  text-align: left;
}
.title-box--with-icon .icon__with__circle {
  position: absolute;
  top: 0;
  left: -2.8125rem;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.title-box p {
  margin-bottom: 0;
}

.compare__table__wrap {
  --lateral-spacing: 3.5rem;
  margin: 0 calc(var(--lateral-spacing) / -1);
}
@media (max-width: 991.98px) {
  .compare__table__wrap {
    --lateral-spacing: 1.25rem;
  }
}
@media (max-width: 767.98px) {
  .compare__table__wrap {
    --lateral-spacing: 0.3125rem;
  }
}

.compare__table {
  --bs-table-bg: transparent;
  border-collapse: separate;
  border-spacing: var(--lateral-spacing) 0.625rem;
}
@media (max-width: 767.98px) {
  .compare__table {
    border-spacing: var(--lateral-spacing) 0.3125rem;
  }
}
.compare__table td,
.compare__table th {
  line-height: 1.2;
  padding: 0.1875rem 0.625rem;
  height: 3.4375rem;
  vertical-align: middle;
}
.compare__table th {
  background: #fff;
}
@media (min-width: 768px) {
  .compare__table th {
    font-size: 1.25rem;
  }
}
.compare__table thead th {
  text-align: center;
}
.compare__table tbody th {
  width: 40%;
}
.compare__table tbody td {
  width: 20%;
  background: #d9d9d9;
  font-size: 1rem;
}

/*# sourceMappingURL=styles.css.map */
