:root {
  --bs-body-font-size: 1.125rem; // 18px
  @include media-breakpoint-down(md) {
    --bs-body-font-size: 1rem; // 16px
  }
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

body {
  @include media-breakpoint-down(md) {
    // font-size: rem.convert(14px);
  }
}

h2,
.h2 {
  @include media-breakpoint-down(md) {
    font-size: rem.convert(24px);
  }
}

h5,
.h5 {
  @include media-breakpoint-down(md) {
    font-size: rem.convert(18px);
  }
}

.btn {
  @include media-breakpoint-down(md) {
    --bs-btn-font-size: 0.875rem; // 14px
    --bs-btn-padding-y: 0.5rem; // 8px
  }
}

.btn-primary {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-focus-color: var(--bs-white);
}

.btn-info {
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
  --bs-btn-disabled-color: var(--bs-white);
  --bs-btn-focus-color: var(--bs-white);
}

.tel-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

// .bg-pill {

// }

.image-with-overlay {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;

    @include media-breakpoint-down(md) {
      // width: 100%;
      // height: 300px;
      // vertical-align: top;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($primary, 0.3);
    z-index: 1;
    pointer-events: none;
  }

  &.bg-info {
    &:after {
      background-color: rgba($info, 0.3);
    }
  }

  &.image-bleed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;

    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      max-height: rem.convert(250px);
    }

    &.image-bleed--left {
      left: auto;
      right: 0;
    }

    &.bleed-with-content {
      @include media-breakpoint-down(md) {
        width: auto;
        position: absolute;
        top: 0;
        left: rem.convert(12px);
        right: rem.convert(12px);
      }
    }
  }

  &.overlay--blue {
    &:after {
      background-color: rgba($info, 0.54);
      mix-blend-mode: screen;
    }
  }

  &.overlay--orange {
    &:after {
      background-color: rgba($primary, 0.55);
      mix-blend-mode: screen;
    }
  }

  &--small {
    height: rem.convert(140px);
  }
}

.full-banner__section {
  min-height: rem.convert(335px);
  position: relative;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @include media-breakpoint-down(md) {
    min-height: rem.convert(200px);
  }

  .image-with-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    &:after {
      background-color: rgba($primary, 0.4);
    }
  }

  &.bg-info {
    .image-with-overlay {
      &:after {
        background-color: rgba($info, 0.4);
      }
    }
  }
}

.map-holder {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  @supports (aspect-ratio: 1 / 1) {
    aspect-ratio: 1/1;
    padding-bottom: 0;
    height: auto;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;

    @include media-breakpoint-down(md) {
      // width: 100%;
      // height: auto;
      // vertical-align: top;
    }
  }
}

.card-type-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 1;
  .preview {
    height: rem.convert(340px);
    // margin-bottom: rem.convert(-126px);
    margin-bottom: rem.convert(-90px);
    z-index: -1;

    @include media-breakpoint-down(md) {
      height: rem.convert(300px);
    }
  }

  .content-with-icon {
    position: relative;
    padding: rem.convert(50px 16px 16px);

    &:after {
      content: '';
      position: absolute;
      top: rem.convert(18px);
      left: rem.convert(6px);
      bottom: rem.convert(3px);
      right: rem.convert(6px);
      background: url(/assets/images/img-map.svg) no-repeat;
      background-size: contain;
      pointer-events: none;
      // z-index: -1;
    }

    .icon {
      width: rem.convert(83px);
      height: rem.convert(83px);
      background: $white;
      box-shadow: rem.convert(0 0 0 3px $white);
      border-radius: 100%;
      position: absolute;
      top: rem.convert(-41px);
      right: 0;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}

.vs-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  // width: 184px;
  // height: 184px;
  width: rem.convert(210px);
  height: rem.convert(210px);
  background: $white;
  // border: 4px solid $white;
  // outline: 4px solid $red;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @include media-breakpoint-down(lg) {
    width: rem.convert(140px);
    height: rem.convert(140px);
  }

  @include media-breakpoint-down(md) {
    width: rem.convert(100px);
    height: rem.convert(100px);
    padding: rem.convert(20px);
    top: auto;
    bottom: rem.convert(-48px);
  }

  @include media-breakpoint-down(sm) {
    width: rem.convert(80px);
    height: rem.convert(80px);
    padding: rem.convert(10px);
  }

  img {
    @include media-breakpoint-down(md) {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: rem.convert(-13px);
    left: rem.convert(-13px);
    bottom: rem.convert(-13px);
    right: rem.convert(-13px);
    border: rem.convert(4px solid $white);
    border-radius: 100%;

    @include media-breakpoint-down(md) {
      top: rem.convert(-8px);
      left: rem.convert(-8px);
      bottom: rem.convert(-8px);
      right: rem.convert(-8px);
    }
  }
}

.vs-block {
  position: relative;
  padding: rem.convert(43px 60px 20px 20px);
  height: 100%;

  @include media-breakpoint-down(lg) {
    padding-right: rem.convert(20px);
  }

  @include media-breakpoint-down(md) {
    // padding-bottom: 50px;
  }

  &.vs-block--alt {
    padding-left: rem.convert(60px);
    padding-right: rem.convert(20px);

    @include media-breakpoint-down(lg) {
      padding-left: rem.convert(20px);
    }

    @include media-breakpoint-down(md) {
      // padding-top: 73px;
      // padding-bottom: 20px;
    }

    .vs-block__title {
      background: $info;
      border-radius: rem.convert(0 50px 50px 0);
      left: 0;
      right: auto;
      text-align: right;
      justify-content: flex-end;
    }

    .icon {
      margin-right: rem.convert(-3px);
      margin-left: rem.convert(20px);
      border-color: $info;
    }
  }

  .vs-block__title {
    position: absolute;
    top: rem.convert(26px);
    right: 0;
    background: $primary;
    color: $white;
    height: rem.convert(70px);
    width: 75%;
    padding: rem.convert(10px 40px);
    display: flex;
    align-items: center;
    border-radius: rem.convert(50px 0 0 50px);
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      height: rem.convert(60px);
      padding: rem.convert(8px 30px);
    }
  }

  .icon {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    border: rem.convert(3px) solid $primary;
    border-radius: rem.convert(8px);
    margin: rem.convert(-3px 20px -3px -3px);
    padding: rem.convert(6px);
    flex-shrink: 0;

    img {
      vertical-align: top;
    }
  }
}

.information-box {
  position: relative;
  border: rem.convert(3px) solid $white;
  border-radius: rem.convert(5px);
  padding: rem.convert(5px 10px 5px 58px);
  margin: rem.convert(0 0 20px 43px);
  min-height: rem.convert(76px);
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    min-height: rem.convert(60px);
    margin-left: rem.convert(32px);
    padding-left: rem.convert(34px);
    text-align: left;
  }

  &.flex-md-row-reverse {
    @include media-breakpoint-up(md) {
      padding-left: rem.convert(10px);
      padding-right: rem.convert(58px);
      margin-right: rem.convert(43px);
      margin-left: 0;

      .icon {
        right: rem.convert(-43px);
        left: auto;
      }
    }
  }

  .icon {
    width: 5.375rem; // 86px
    height: 5.375rem; // 86px
    background: $white;
    border: 0.1875rem solid $primary; // 3px
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem.convert(2px);
    position: absolute;
    top: 0;
    left: rem.convert(-43px);
    bottom: 0;
    margin: auto;
    z-index: 1;
    overflow: hidden;

    @include media-breakpoint-down(md) {
      width: rem.convert(60px);
      height: rem.convert(60px);
      left: rem.convert(-32px);
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

.talk-to-block {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  // background: url(/assets/images/img-hero.svg) no-repeat;
  // background-size: contain;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // opacity: 0.5;
    z-index: -1;
    mix-blend-mode: luminosity;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .btn {
    min-width: rem.convert(350px);
    @include media-breakpoint-down(md) {
      min-width: rem.convert(200px);
    }
  }
}

.contact__section {
  background: url(../images/bg-cloud.jpg) no-repeat 0 100%;
  // background-size: 100% auto;
  background-size: cover;
  .image-holder {
    @include media-breakpoint-down(lg) {
    }
  }
}

.about-section {
  min-height: 50vh;
  position: relative;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    height: auto;
  }

  .image-with-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // opacity: 0.5;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.big-question-mark {
  // font-size: 460px;
  // line-height: 1;
  // font-weight: 900;
  // color: $white;
  // -webkit-text-stroke: 8px $primary;
  @include media-breakpoint-down(md) {
    width: 100%;
    height: auto;
  }

  text {
    @include media-breakpoint-down(md) {
      font-size: 350px;
      transform: translateY(-94px);
    }
  }
}

.orange-question-section {
  position: relative;
  background-color: $primary;
  color: $white;
  padding: rem.convert(30px 0);
  min-height: rem.convert(180px);
  border-top: 8px solid $primary;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: $white;
  }

  &:after {
    content: '';
    background-image: url(../images/bg-question.jpg);
    background-size: 18%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    mix-blend-mode: multiply;
    pointer-events: none;
  }
}
