.compare__block {
  padding: 10px;

  @include media-breakpoint-down(sm) {
    position: relative;
  }
}

.compare__holder {
  display: flex;

  @include media-breakpoint-only(md) {
    display: block;
  }

  @include media-breakpoint-only(xs) {
    display: block;
  }
}

.compare__preview {
  flex-shrink: 0;
  height: auto;
  // width: 31%;
  width: rem.convert(152px);

  @include media-breakpoint-only(md) {
    width: 100%;
    height: 200px;
  }

  @include media-breakpoint-only(xs) {
    width: 100%;
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: top;
  }
}

.compare__content {
  padding: 10px 20px 10px 7.25%;
  flex-grow: 1;
  text-align: right;

  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  .compare__block--alt & {
    @include media-breakpoint-up(md) {
      padding-left: 20px;
      padding-right: 7.25%;
      text-align: left;
    }
  }
}

.compare__content__title {
  background: $primary;
  color: $white;
  height: 70px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50px 0 0 50px;
  margin-right: -34px;
  margin-bottom: 10px;

  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    height: auto;
    min-height: 45px;
  }

  .compare__block--alt & {
    @include media-breakpoint-up(md) {
      border-radius: 0 50px 50px 0;
      margin-left: -34px;
      margin-right: 0;
    }
  }
}

.compare__content__description {
  padding-left: 30px;
  font-size: $font-size-lg;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-base;
    padding-left: 0;
  }

  .compare__block--alt & {
    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 30px;
    }
  }
}
