.compare__table__wrap {
  --lateral-spacing: 3.5rem; // 56px
  margin: 0 calc(var(--lateral-spacing) / -1);
  @include media-breakpoint-down(lg) {
    --lateral-spacing: 1.25rem; // 20px
  }
  @include media-breakpoint-down(md) {
    --lateral-spacing: 0.3125rem; // 5px
  }
}

.compare__table {
  --bs-table-bg: transparent;
  border-collapse: separate;
  border-spacing: var(--lateral-spacing) rem.convert(10px);

  @include media-breakpoint-down(md) {
    border-spacing: var(--lateral-spacing) rem.convert(5px);
  }

  td,
  th {
    line-height: 1.2;
    padding: rem.convert(3px 10px);
    height: rem.convert(55px);
    vertical-align: middle;
  }

  th {
    background: $white;
    @include media-breakpoint-up(md) {
      font-size: $font-size-lg;
    }
  }

  td {
    // text-align: center;
  }

  thead {
    th {
      text-align: center;
      &:first-child {
        // background: none;
      }
    }
  }

  tbody {
    th {
      width: 40%;
    }

    td {
      width: 20%;
      background: $gray-300;
      font-size: $font-size-base;
    }
  }
}
