.factors__section {
  --factors-article-max-width: 300px;
  --factors-heading-height: 4.7625rem; // 76px
  --factors-icon-gap: 1.5625rem; // 25px
  --factors-icon-size: 5.5625rem; // 89px
  --factors-icon-space: calc(
    var(--factors-icon-gap) + var(--factors-icon-size)
  );
  // --factors-icon-space: 6.875rem; // 110px
  --factors-image-width: 13.125rem; // 210px
  --factors-image-height: 9rem; // 144px
  --bs-gap: 9.25rem;
  --bs-columns: 3;
  --bs-row-gap: 2rem;
  position: relative;
  // padding-top: 115px;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: calc(var(--factors-icon-space) + (var(--factors-heading-height) / 2));
  //   left: 0;
  //   width: 3px;
  //   background: $primary;
  //   bottom: calc(
  //     var(--factors-icon-space) + (var(--factors-heading-height) / 1.2)
  //   );
  //   // height: 100%;
  // }

  @include media-breakpoint-down(lg) {
    --factors-image-width: 100%;
    --bs-gap: 4rem;
    --factors-heading-height: 3.4375rem; // 55px
    --factors-icon-size: 4.75rem; // 76px
    // --bs-columns: 2;
  }

  @include media-breakpoint-down(md) {
    --bs-columns: 2;
  }

  @include media-breakpoint-down(sm) {
    --factors-image-height: 11rem; // 176px
    // --factors-image-width: 13.125rem; // 210px
    --factors-heading-height: 3.125rem; // 50px
    --bs-columns: 1;
    max-width: var(--factors-article-max-width);
    margin: 0 auto;
  }

  > .grid {
    row-gap: var(--bs-row-gap);
  }

  .connection__icon {
    --connection-icon-size: 1.875rem;
    width: var(--connection-icon-size);
    height: var(--connection-icon-size);
    border: 2px solid $primary;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(
      var(--factors-icon-space) + (var(--factors-heading-height) / 2) -
        (var(--connection-icon-size) / 2)
    );
    // right: calc(var(--connection-icon-size) / -2);
    right: calc((var(--bs-gap) / -2) - (var(--connection-icon-size) / 2));

    @include media-breakpoint-down(md) {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 100%;
      height: rem.convert(3px);
      width: rem.convert(100px);
      margin: auto;
      background: $primary;
    }

    &:after {
      right: 100%;
      left: auto;
    }
  }

  &.factors__article--with-image {
    .connection__icon {
      top: calc(
        var(--factors-icon-space) + (var(--factors-heading-height) / 2) -
          (var(--connection-icon-size) / 2) +
          (var(--factors-image-height) - 15px)
      );
    }
  }
}

.factors__article {
  padding-bottom: rem.convert(25px);

  @include media-breakpoint-down(md) {
    padding-bottom: 0;
  }
}

.factors__image {
  width: var(--factors-image-width);
  height: var(--factors-image-height);
  margin: rem.convert(0 auto -15px);
}

.factors__content {
  position: relative;
  padding-top: var(--factors-icon-space);
  z-index: 1;
}

.factors__icon {
  position: absolute;
  // top: -115px;
  // top: 25px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  // margin-bottom: rem.convert(25px);
  border: rem.convert(4px solid $info);
  border-radius: 100%;
  // width: rem.convert(89px);
  // height: rem.convert(89px);
  width: var(--factors-icon-size);
  height: var(--factors-icon-size);
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  // @include media-breakpoint-down(lg) {
  //   width: rem.convert(76px);
  //   height: rem.convert(76px);
  // }
  color: #f00;

  > svg {
    fill: #f00 !important;
    path {
      fill: #f00 !important;
    }
  }
}

.factors__heading {
  height: var(--factors-heading-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem.convert(5px 16px);
  position: relative;

  @include media-breakpoint-down(sm) {
    // padding: rem.convert(5px 20px);
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: rem.convert(4px);
    height: rem.convert(25px);
    margin: auto;
    background: $info;
  }
}

.auto-factors {
  &__item {
    // display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem.convert(30px);

    .pill__heading {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: rem.convert(15px);
      }
    }

    // .image-with-overlay {
    //   @include media-breakpoint-down(lg) {
    //     height: 250px;
    //   }
    // }
  }

  &__col {
    // flex: 1 0 0%;
    &--middle {
      position: relative;

      @include media-breakpoint-down(md) {
        // margin-bottom: 10px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -50%;
        right: -50%;
        // width: 100%;
        height: rem.convert(4px);
        background: $info;
        margin: auto;
        z-index: -1;

        @include media-breakpoint-down(lg) {
          left: 0;
        }

        @include media-breakpoint-down(md) {
          width: rem.convert(4px);
          height: auto;
          left: rem.convert(41px);
          right: auto;
        }
      }
    }
  }

  &__description {
    --auto-factors-row-space: 2.75rem; // 44px
    background: $white;
    padding: rem.convert(12px);
    min-height: rem.convert(192px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: $font-size-lg;
    line-height: 1.2;

    @include media-breakpoint-down(lg) {
      --auto-factors-row-space: 56px;
    }

    @include media-breakpoint-down(md) {
      min-height: rem.convert(100px);
      font-size: $font-size-base;
    }

    &:before {
      --auto-factors-icon-size: 1.75rem; // 28px
      --auto-factors-icon-border: 0.25rem; // 4px
      content: '';
      width: var(--auto-factors-icon-size);
      height: var(--auto-factors-icon-size);
      border: var(--auto-factors-icon-border) solid $info;
      border-radius: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(
        (var(--auto-factors-row-space) / -2) -
          (var(--auto-factors-icon-size) / 2) - var(--auto-factors-icon-border)
      );
      margin: auto;
      background: #fff url('../images/icons/icon-dollar-blue.svg') no-repeat 50%
        50%;
      background-size: rem.convert(13px 21px);

      @include media-breakpoint-down(md) {
        // left: 24px;
        // bottom: auto;
        // top: -36px;
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    p {
      margin-bottom: 0;
    }
  }
}

.custom-grid-container {
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 9.25rem;
  row-gap: 2.5rem;
}

/* Below md (i.e., < 768px), adjust lateral gap */
@media (max-width: 998px) {
  .custom-grid-container {
    column-gap: 5.5rem;
  }
}

/* Below sm (i.e., < 576px), switch to 2 columns */
@media (max-width: 767px) {
  .custom-grid-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5.5rem; /* still 5.5rem */
  }
}

.grid-item {
  background-color: #eee; /* Just for demo */
  padding: 1rem;
  text-align: center;
}
