.icon__with__circle {
  --icon-with-circle-size: 5.375rem; // 86px
  width: var(--icon-with-circle-size);
  height: var(--icon-with-circle-size);
  background: $white;
  border: 0.1875rem solid $primary; // 3px
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem.convert(2px);
  overflow: hidden;
  flex-shrink: 0;

  // @include media-breakpoint-down(md) {
  //   --icon-with-circle-size: 4.25rem; // 68px
  // }

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
