.information-tree {
  dd {
    padding: rem.convert(18px 0 50px 44px);
    position: relative;
    margin-bottom: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: rem.convert(40px);
      bottom: 0;
      width: rem.convert(5px);
      background: $info;
    }
  }

  &__item {
    &--last {
      dd {
        padding-bottom: 0;
      }

      .information-tree__info {
        &--first {
          &:after {
            content: '';
            position: absolute;
            top: calc(50% + rem.convert(9px));
            left: rem.convert(-4px);
            background: $white;
            width: rem.convert(5px);
            bottom: 0;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }

        &:not(.information-tree__info--first) {
          &:after {
            @include media-breakpoint-down(md) {
              content: '';
              position: absolute;
              top: calc(50% + rem.convert(9px));
              left: rem.convert(-4px);
              background: $white;
              width: rem.convert(5px);
              bottom: 0;
            }
          }
        }
      }
    }
  }
}

.information-tree__info {
  position: relative;
  padding-left: rem.convert(40px);

  & + .information-tree__info {
    @include media-breakpoint-down(md) {
      margin-top: rem.convert(20px);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: rem.convert(15px);
    left: 0;
    bottom: 0;
    margin: auto;
    width: rem.convert(40px);
    height: rem.convert(3px);
    background: $info;
  }

  .item-title {
    padding: rem.convert(5px 12px);
    margin-bottom: rem.convert(-15px);
    font-size: rem.convert(20px);
    line-height: 1;
    font-weight: bold;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      font-size: rem.convert(16px);
    }
  }

  .item-desc-holder {
    display: flex;
    align-items: center;
    padding: rem.convert(8px 16px);
    width: 100%;
    flex-grow: 1;

    .item-desc {
      padding-top: rem.convert(20px);

      p {
        margin-bottom: 0;
      }
    }

    .icon {
      margin-right: rem.convert(20px);
      flex-shrink: 0;

      @include media-breakpoint-down(md) {
        width: rem.convert(55px);
        margin-right: rem.convert(10px);
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
