.pill__heading {
  background: $info;
  color: $white;
  text-transform: uppercase;
  font-size: rem.convert(20px);
  line-height: 1.2;
  font-weight: bold;
  border-radius: 50rem;
  width: rem.convert(480px);
  max-width: 100%;
  min-height: rem.convert(78px); // 76px
  padding: rem.convert(3px 20px);
  position: relative;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    width: 100%;
    font-size: rem.convert(16px);
  }

  &--with-icon {
    padding-left: rem.convert(98px);

    .icon__with__circle {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }
}
